.idea/
/__pycache__/
/venv/
/logs/
/temp/
/applog/
/bak/
/ml_data/
/ml_data/user_behavior.jsonl
.*.bak
*.bak
*.txt
*.Identifier
*.pid
*.zip
*.7z
*.bak.py
*.jsonl
convert_md_to_html.py